<div class="alt-admin-bar btn">

    <div class="alt-admin-bar-main">
        <div class="alt-admin-bar-left">
            <a href="https://statamic.com/sellers/alt-design" class="alt-admin-logo-container alt-admin-bar-item">
                <img src="{{AltAdminBar:logo}}" class="alt-admin-logo"/>
            </a>

            <div class="alt-admin-bar-item">
                <a class="" href="{{AltAdminBar:editUrl id='{{ id }}'}}">Pages</a>
            </div>

            <div class="alt-admin-bar-item">
                <a class="" href="{{AltAdminBar:editUrl id='{{ id }}'}}">Edit page</a>
            </div>

            <button class="btn">
                Hello World
            </button>
        </div>

        <div class="alt-admin-bar-right">
            <div class="alt-admin-avatar-container alt-admin-bar-item">
                <a href="{{AltAdminBar:profileUrl}}" class="alt-admin-avatar">{{AltAdminBar:avatar}}</a>
            </div>
        </div>
    </div>

    <div class="alt-admin-bar-tab">
        tab
    </div>



</div>
